@model RentalKendaraan_110.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaCostumer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaCostumer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoHp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoHp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGenderNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGenderNavigation.IdGender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCostumer">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
