@model RentalKendaraan_110.Models.Peminjaman

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Peminjaman</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TglPeminjaman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TglPeminjaman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biaya)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biaya)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCostumerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCostumerNavigation.IdCostumer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdJaminanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdJaminanNavigation.IdJaminan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKendaraanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKendaraanNavigation.IdKendaraan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPeminjaman">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
