@model RentalKendaraan_110.Models.Pengembalian

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pengembalian</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TglPengembalian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TglPengembalian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKondisiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKondisiNavigation.IdKondisi)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPeminjamanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPeminjamanNavigation.IdPeminjaman)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPengembalian" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
